@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:600|Lora:400,400i,700,700i');

body {
    background-color: #f6f3ee !important;
    font-family: 'Lora', serif !important;
    color: #444444 !important;
    font-size: 16px !important;
}
