nav {
    border-bottom: 1px solid #7F7055 !important;
}

.navbar-brand {
    font-family: 'Zilla Slab', serif !important;
    font-size: 24px !important;
    color: #444444 !important;
}

.nav-link {
    color: #444444 !important;
}

#search-text {
    border-radius: 500px !important;
    border: 1px solid #7F7055 !important;
    padding-left: 10px !important;
}

button {
    background: none !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    margin-left: 5px !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: inherit !important;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}