{% extends 'base.html' %}

{% load static %}

{% block title %}
    IGTR!
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'references/css/reference.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'references/js/options.js' %}"></script>
{% endblock %}

{% block content %}


        {% for reference, tags in info %}

            <div class="row">

            {% if forloop.counter0 == 0 %}
                <div id="quote-{{ reference.id }}" class="col-md-8 offset-md-2 latest">
            {% else %}
                <div id="quote-{{ reference.id }}"  class="col-md-8 offset-md-2">
            {% endif %}

                    <div class="quote">

                        {{ reference.quote }}

                        <br>

                        <div class="citation">
                            -
                            <span class="author">{{ reference.author }}</span>,
                            <span class="source">{{ reference.source }}</span>
                        </div>

                    </div>

                    <br>
                    <hr>

                    <div class="menu">

                        <div class="tags">

                            {% for tag in tags %}
                                <a id="tag-{{ reference.id }}-{{ tag }}" class="tag" href="#!">#{{ tag }}</a>
                                <form id="form-{{ reference.id }}-{{ tag }}" method="get" action="{% url 'references:search' %}" target="_blank">
                                    <input type="hidden" name="param" value="tag">
                                    <input type="hidden" name="tag" value="{{ tag }}">
                                </form>
                            {% endfor %}
                        </div>

                        <div class="options">
                            <a id="copy-{{ reference.id }}" href="#!" class="option copy"><i class="fa fa-clipboard"></i></a>
                        </div>

                    </div>

            </div>

            </div>
            <br>
            <br>
        {% endfor %}

{% endblock %}