{% extends 'base.html' %}

{% load static %}

{% block title %}
    IGTR!
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'references/css/reference.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'references/js/options.js' %}"></script>
{% endblock %}

{% block content %}

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h4 id="desc">
                        {% if type == 'tag' %}
                        Posts with the tag "{{ input }}"
                        {% else %}
                        Search results for "{{ input }}"
                        {% endif %}
                    </h4>
                </div>
            </div>

            <br>
            <br>

        {% for reference, tags in info %}

            <div class="row">

                <div id="quote-{{ reference.id }}"  class="col-md-8 offset-md-2">

                    <div class="quote">

                        {{ reference.quote }}

                        <br>

                        <div class="citation">
                            -
                            <span class="author">{{ reference.author }}</span>,
                            <span class="source">{{ reference.source }}</span>
                        </div>

                    </div>

                    <br>
                    <hr>

                    <div class="menu">

                        <div class="tags">

                            {% for tag in tags %}
                                <a id="tag-{{ reference.id }}-{{ tag }}" class="tag" href="{% url 'references:tag' tag%}">#{{ tag }}</a>
                            {% endfor %}
                        </div>

                        <div class="options">
                            <a id="copy-{{ reference.id }}" href="#!" class="option copy"><i class="fa fa-clipboard"></i></a>
                        </div>

                    </div>

            </div>

            </div>
            <br>
            <br>
        {% endfor %}

{% endblock %}