@import url('https://fonts.googleapis.com/css?family=Arvo|Crimson+Text');

body {
    background-color: #f6f3ee !important;
    font-family: 'Crimson Text', serif !important;
    color: #444444 !important;
    font-size: 20px !important;
}

.content {
    margin-top: 5% !important;
}
