.latest-reference {
    padding: 20px !important;
    border-radius: 5px !important;
}

#latest {
    font-size: 24px !important;
    text-align: center !important;
}

#latest:hover {
    background-color: #CCCAC5 !important;
    border-radius: 5px;
}

.tags {
    float: left !important;
}

.options {
    float: right !important;
}

.tag {
    border-radius: 25px !important;
    background-color: #CCCAC5 !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

.option {
    color: #7F7055 !important;
}