nav {
    border-bottom: 1px solid #7F7055 !important;
}

.navbar-brand {
    font-family: 'Arvo', serif !important;
    font-size: 24px !important;
    color: black !important;
}

.nav-link {
    color: #444444 !important;
}

button {
    background: none !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: inherit !important;
}
